<!DOCTYPE html>
<html>
  <head>
    <title>SimmingForum</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

    <body class="bg-gray-100">
    <div class="lg:container lg:mx-auto h-24 flex items-center justify-between p-5">
      <div>
        <p class="text-3xl font-semibold text-black">SWSF Online</p>
        <span class="text-gray-600 italic text-sm">Star Wars Simming Forum</span>
      </div>

      <% if current_user %>
        <div class="space-x-2 text text-">
          <%= link_to "Sign Out", sign_out_path, method: :delete %>
        </div>
      <% else %>
        <div class="space-x-2 text text-">
          <%= link_to "Sign In", sign_in_path %>
          <a class="text-base" href="#">Sign Up</a>
        </div>
      <% end %>
    </div>

    <%= render "shared/flashes" %>

    <main class="lg:container lg:mx-auto p-5 mt-12">
      <%= yield %>
    </div>
  </body>
</html>
